Name:

Name of Peer who worked with you:

Favorite Place to Get lunch on-Campus:

## Introduction to Notebooks

Jupyter: Line by line compilation, allows to showcase your work as a data scientist

## The Much Awaited, "Hello World!"

In [28]:
print('Hello World!')

Hello World!

In [29]:
print("Hi")

Hi

In [30]:
print ('Hello # world')

Hello # world

In [31]:
print ("hello # world")

hello # world

In [32]:
2 + 3

5

In [33]:
print('Hello', 'world!')

Hello world!

In [34]:
Print('Python, whats 1 + 2')

NameError: name 'Print' is not defined

So make sure you write print in small and not Print

## Scalar Objects

scalar vs non scalar objects: 
scalar objects are indepenedent and they do not have internal structure. They are atomic objects
non-scalar objects have internal structure with set of atomic elements.

Python stores different object differently based on the use. 

for us 2+2 and 2.000000000 + 2.000000000 are same. But for computer, they are not! Every zero that we add, it adds a bit of memory and complexes the computation.

So we tell the datatype to computer beforehand.

So 3 basic data types are integer, float and boolean.

1)int is used for integers e.g. 1, 0, 1000, 5000
like no of children, no of cars, etc. 

2)float is used to represent real numbers e.g. 3.0, 4.0, 100.5, 3.14, 4e3(4 times 10 to the power of 2) etc

3)boolean is used for binary like True and False.
Pass or fail

4)There are some types like None, long integers which we talk about later 

So what should be the data type of following variables?
We want to design a demographic table. What data type would you assign
Age, no of courses taken, Height , weight, Married/unmarried

In [2]:
type(1)

int

In [3]:
type(1.0)

float

In [4]:
4e2

400.0

In [5]:
type(4e4)

float

In [6]:
1==0

False

In [7]:
type(1==1)

bool

In [8]:
type(False)

bool

In [9]:
type(True)

bool

In [10]:
 4 + 5 == 6

False

In [11]:
2 + 3 ==5

True

In [12]:
int(5.0)

5

In [13]:
float(5)

5.0

In [14]:
bool(5)

True

In [15]:
bool(0)

False

In [16]:
bool(1)

True

In [17]:
int(5.8)

5

In [18]:
(3+2)==(1+4)

True

In [19]:
((3+2)==(1+4)) == (4%2==1)

False

## Operators

There are some basic data operators 
+ plus
- minus
/ divide
* multiply
% reminder (I % j is pronounced as “i mod j”)
** power 
< less- than
> greater- than
<= less- than- equal
>= greater- than- equal
== check equality 
!= check inequality

In [20]:
2+3

5

In [21]:
3-2

1

In [22]:
3*2

6

In [23]:
10/2

5.0

In [24]:
11/2

5.5

In [25]:
int(11/2)

5

In [26]:
35%4

3

In [27]:
4**3

64

In [28]:
5<2

False

In [29]:
5<5

False

In [30]:
5<=5

True

In [31]:
print('what is 5 - 7?', 5 - 7)

what is 5 - 7? -2

In [32]:
int(5) + float(3.2)

8.2

In [33]:
1 + 2 == 3

True

In [34]:
3 + 4 == 7

True

In [35]:
2 + 3 == 4

False

In [36]:
0.1 + 0.2 == 0.3

False

## Variables and assignments

Variables provide a way to associate names with objects. These names, associated with objects can be used and called again and again, instead of objects. 
An assignment statement associates the name to the left of ‘=’ to the object denoted by the expression to the right of ‘=’. 


Its like naming somebody.

In [37]:
pi = 3.1416

In [38]:
pi

3.1416

In [41]:
## Write your code chunk to print the area of a circle with radius = 4 units.  [Note: This is how comments are written in jupyter notebooks]

In [42]:
my name = 'python'

SyntaxError: invalid syntax (<ipython-input-42-61d7743a8c60>, line 1)

we have to give continuous name to variable. So 'my name' is not valid, but 'my_name' is valid.

In [43]:
my_name = 'whatever'

In [44]:
my_name

'whatever'

In [45]:
#From the previously written code of printing the area of a circle, print out the below statement using the variables assigned previously
print('when radius of a circle is ' + str(radius) +' units then area of circle is '+ str(area) +' square units')

when radius of a circle is 4 units then area of circle is 50.2656 square units

In [46]:
print('when radius of a circle is %d units then area of circle is %f square units' %(radius,area))

when radius of a circle is 4 units then area of circle is 50.265600 square units

In [47]:
universities = '\nDuke \nstanford \nMIT \nCaltech'
print('A few good universities:', universities  )

A few good universities:
Duke
stanford
MIT
Caltech

Reserved Keywords: and, del, from, not, while, as, elif, global, or, with, assert, else, if, pass, yield, break, except, import, print, class, exec, in, raise, continue, finally, is, return, def, for, lambda, try

we can not use reserved keywords as our variable name. For e.g, we can not say 
and = 0.3

Readability of code:
a = 3.1416                                           pi = 3.1416                                 
b = 4                                                radius = 4 
c = a*(b**2)                                         area = pi*(r**2)
Which code makes more sense?

In [48]:
##### Finding number is odd or even

odd_even = [1,2,3,4,5,6,7,8,9,10]
for num in odd_even:
    if num % 2 == 0:
        print ('%d is even' %num)
    elif num % 2 == 1:
        print ('%d is odd' %num)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [49]:
# Finding roots of Quadratic equation
# Assume that quadratic equation is of the form of Ax^2 + Bx + C = 0

a = int(input('What is a?'))
b = int(input('What is b?'))
c = int(input('What is c?'))

d = (b**2) - (4*a*c ) 

root1 = (-b + d**0.5 )/(2*a)
root2 = (-b - d**0.5 )/(2*a)

print ('2 roots of quardatic equation are ' + str(root1) + ' & ' + str(root2))

What is a?1
What is b?2
What is c?3
2 roots of quardatic equation are (-0.9999999999999999+1.4142135623730951j) & (-1-1.4142135623730951j)

In [53]:
# A bit more complicated code

a = int(input('What is a?'))
b = int(input('What is b?'))
c = int(input('What is c?'))


d = (b**2) - (4*a*c) # discriminant

if d < 0:
    print ("This equation has no real solution")
elif d == 0:
    x = (-b+ (d**0.5)) / (2*a)
    print ("This equation has one solutions: ",x)
    print ((2+10) * (10+3))
else:
    x1 = (-b + (d**0.5))/2*a
    x2 = (-b - (d**0.5))/2*a
    print ("This equation has two solutions: ", x1, " and", x2)

What is a?3
What is b?4
What is c?5
This equation has no real solution

NOTE: Please Make sure to edit the notebook, fill in your code chunks, commit and push the notebook to your github repository by the end  of class.

 # Introduction to Common Libraries

Concept of DataFrames!!! The What and the Why!!

In [66]:
import pandas as pd

In [67]:
df = pd.read_csv('input_dataset.csv')

In [68]:
input_dataset.describe()

,Unique Applicant ID,Age,Years at Employer,Years at Address,Outcomes: Default = 1
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,34.666050,8.614550,0.779300,0.250000
std,57.879185,8.223616,6.790097,0.620515,0.434099
min,1.000000,20.190000,0.040000,0.010000,0.000000
25%,50.750000,28.500000,3.400000,0.310000,0.000000
50%,100.500000,33.130000,7.500000,0.620000,0.000000
75%,150.250000,40.227500,12.520000,1.052500,0.250000
max,200.000000,55.720000,31.650000,3.700000,1.000000

In [70]:
input_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
Unique Applicant ID      200 non-null int64
 Age                     200 non-null float64
 Years at Employer       200 non-null float64
Years at Address         200 non-null float64
Income                   200 non-null object
Credit Card Debt         200 non-null object
Automobile Debt          200 non-null object
Outcomes: Default = 1    200 non-null int64
dtypes: float64(3), int64(2), object(3)
memory usage: 12.6+ KB

In [72]:
input_dataset.head()

,Unique Applicant ID,Age,Years at Employer,Years at Address,Income,Credit Card Debt,Automobile Debt,Outcomes: Default = 1
0,1,32.53,9.39,0.30,"$37,844","-$3,247","-$4,795",0
1,2,34.58,11.97,1.49,"$65,765","-$15,598","-$17,632",1
2,3,37.70,12.46,0.09,"$61,002","-$11,402","-$7,910",1
3,4,28.68,1.39,1.84,"$19,953","-$1,233","-$2,408",0
4,5,32.61,7.49,0.23,"$24,970","-$1,136",-$397,0

In [73]:
input_dataset.tail()

,Unique Applicant ID,Age,Years at Employer,Years at Address,Income,Credit Card Debt,Automobile Debt,Outcomes: Default = 1
195,196,42.20,13.25,0.58,"$58,644","-$5,165","-$11,395",0
196,197,24.60,7.82,1.93,"$17,453",-$984,"-$1,432",0
197,198,24.97,2.37,0.31,"$27,214","-$1,446","-$2,101",0
198,199,38.96,16.69,0.69,"$115,211","-$3,206","-$25,827",0
199,200,45.87,16.41,0.01,"$123,171","-$1,195","-$6,470",0

In [1]:
## testing changes